<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件销毁</title>
</head>
<body>
    <div id="app">
        <input type="radio" v-model="radio" value="home">home
        <input type="radio" v-model="radio" value="list">list
        
        <!-- keep-alive 一般用于缓存：为的是后面的路由做准备，如果缓存了就不会再走created mounte 钩子函数 -->
        <keep-alive>
            <!-- vue 自带组件component is的值是谁就是那个子组件 -->
            <component :is="radio" ref="child"></component>
        </keep-alive>

        <!-- 子组件和父组件同时拥有mounted会先走谁？ 先走子组件-->
        
        <!-- 在父组件中获取子组件的真实dom 要放在nextTick 里面-->
        
    </div>

    <script src="../node_modules/vue/dist/vue.js" ></script>
    <script>
        let home = {
            template: "<div>home<p v-for='a in arr'>{{a}}</p></div>",
            data(){
                return {arr: [1,2,3]}
            },
            mounted(){
                alert('挂载');
                this.arr = [4,5,6]; // 此处是异步渲染dom
                
        },
            beforeDestory(){alert('销毁')}
        };
        let list = {
            template: "<div>list</div>",
            mounted(){alert('挂载')},
            beforeDestory(){alert('销毁')}
        }
        let vm = new Vue({
            el:'#app',
            data:{
                radio: 'home'
            },
            components: {
                home,
                list
            },
            mounted(){
                // alert('parent')
                console.log(this.$refs.child.$el.innerHTML); // home<p>1</p><p>2</p><p>3</p> 说明mounted没有等dom渲染完就执行了， dom渲染是异步的
                this.$nextTick(()=>{
                    console.log(this.$refs.child.$el.innerHTML);
                })
                
            }
        })
    </script>
</body>
</html>