<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>panel</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
        <!-- 
            1. slot 组件插槽  
            2. 子组件 传父 值 
            3. 组件的循环 -->
    <div id="app">
        <panel :type="item.type" v-for="(item,index) in list" :key="index" @say-title="parent">
            <div slot="title"><span v-html="item.title"></div>
            <div slot="content" v-html="item.content"></div>
            <div v-if="item.auth">
                {{item.auth}}</div>
        </panel>
        <!-- <panel type="success"></panel>
        <panel type="warning"></panel>
        <panel type="danger"></panel> -->
    </div>

    <!-- // panel-default // panel-primary //panel-success //panel-info //panel-warning //panel-danger -->
    <template id="panel"> 
        <div  :class="['panel', color]">
            <div class="panel-heading" ref="title">
                <slot name='title'>title</slot>
            </div>
            <div class="panel-body">
                <slot name='content'>body</slot>
            </div>
            <div class="panel-footer">
                <slot>匿名</slot>
                <button @click="say()">点我说标题</button>
            </div>
        </div>
    </template>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script>
    let panel = {
        template: "#panel",
        props: {
            type: { // this.type='default' // panel-default
                type:[String],
                default: 'default'
            }
        },
        computed: {
            color(){
                return 'panel-' + this.type
            }
        },
        methods: {
            say(){ console.log(this.$refs);this.$emit('say-title', this.$refs.title.innerText)}
        }

    }
     var vm= new Vue({
        el: '#app',
        data: {
            list: [
                {type:'primary',title:'<h2>Vue</h2>', content:'这是vue的文章', auth: '作者：daya'},
                {type:'danger',title:'<h2>React</h2>', content:'这是React的文章'},
                {type:'success',title:'<h2>Angular</h2>', content:'这是angular的文章'}
            ]
        },
        components:{
            panel
        },
        methods:{
            parent(title){
                alert(title);
            }
        }
    }) 
    </script>
</body>
</html>